Django==5.0.14
whitenoise==6.7.0
Flask==3.0.3
requests==2.32.3
openai-whisper
torch==2.1.2
torchaudio==2.1.2
pydub==0.25.1
ffmpeg-python==0.2.0
pyannote.audio==3.1.1
speechbrain==1.0.0
pandas==2.1.4
openpyxl==3.1.2
numpy==1.26.3
scipy==1.11.4
python-dotenv==1.0.0
tqdm==4.66.1
more-itertools==10.1.0
